/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-background-color: #333;
  --secondary-background-color: #222;
  --primary-font-color: #fab957;
  --secondary-font-color: #f59505;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--primary-background-color);
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-font-color);
  line-height: 1.6;
}

nav,
section,
footer {
  padding: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

input[type="text"] #user {
  border: 2px solid;
  border-radius: 4px;
  height: 18px;
  width: 32px;
  padding: 10px 15px;
  margin: 10px 5px;
  font-size: 16px;
  color: var(--secondary-font-color);
}

button {
  background-color: var(--primary-font-color);
}

/* ---- NavBar ---- 

.navbar {
  background-color: var(--secondary-background-color);
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  border-bottom: var(--secondary-font-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--secondary-font-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--secondary-font-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  _padding: 0 40px;
}

/*  Showcase 
.showcase {
  height: 650px;
}

.showcase-text {
  position: relative;
}

/* Tickets list 

.tickets {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.tickets .listing .card {
  /* Add shadows to create the "card" effect 
  background-color: var(--secondary-background-color);
  box-shadow: 0 4px 8px 0 rgba(255, 166, 0, 0.452);
  transition: 0.3s;
  width: 20%;
  color: var(--secondary-font-color);
}

/* Tablets and under 
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }

  .main {
    width: 500px;
  }
}
 */


 @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
    --primary-background-color: #333;
    --secondary-background-color: #222;
    --primary-font-color: #fab957;
    --secondary-font-color: #f59505;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 10px  auto;
    overflow: visible;
    background-color: var(--primary-background-color);
}

.navbar
.main
.footer {
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.navbar {
    font-size: 24px;
    height: 80px;
    max-width: 1100px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 20px;
    margin: 0 20px;
}

.navbar a:hover {
    border-bottom: 2px var(--secondary-font-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
    color: var(--primary-font-color);
}

.main {
    font-size: 20px;
    height: 650px;
    max-width: 1100px;

    color: var(--secondary-font-color);
}

.main .showcase-text {
    padding: 20px;
}

.footer {
    font-size: 16px;
    height: 110px;
    max-width: 1100px;
    color: var(--primary-font-color);

    _border: var(--primary-font-color) solid;
}

textarea {
  resize: none;
  color: #fab957;
  box-sizing: border-box;
  border: 3px var(--secondary-font-color) solid;
  overflow: auto;
  outline: none;
}

.form {
  text-align: center;
}

form input {
  font-size: 24px;
  color: #fab957;
}

form button {
  font-size: 20px;
  background-color: var(--secondary-font-color);
}

.listing .card {
  padding: 10px;
}

h2 {
  margin-bottom: 22px;
}

.main .card ,
.main .card h3, 
.main .card p {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.card-link {
  display: block;
  text-align: center;

  background-color: var(--secondary-background-color);
  border: 0.2em var(--secondary-font-color) solid;
  border-radius: .3em;
  box-shadow: .2em .2em .5em var(--primary-font-color);
  margin: .1em;
  padding: .3em .1em;

  width: 8.5em;
}

.commentForm {
  padding-top: 3em;
  text-align: center;
}

.commentsAll {
  text-align: center;
}