<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BugTypes</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
  </head>

  <body>
    <!-- NAV -->
    <section class="navbar">
      <div class="container flex">
        <ul>
          <li><a href="/profile/{{.User}}">My Profile</a></li>
          <li><a href="/ticket/create">Create Tickets</a></li>
        </ul>
      </div>
    </div>

    <!-- MAIN -->
    <section class="main">
      <div class="container">
        <h1>Create new Bugs</h1>

        <div class="form">
          <form method="post">
            <input type="text" name="acronym" id="bugtypeAcronym" placeholder="Acronym"><br>
            <input type="text" name="name" id="bugtypeName" placeholder="Name"><br>
            <textarea name="description" id="bugtypeDescription" cols="40" rows="20" placeholder="Description"></textarea><br>
            <button type="submit">Add new Bugtype</button>
          </form>
        </div>
        
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>BugTracker</h1>
          <p>Copyright &copy; 2020</p>
        </div>
      </div>
    </footer>
  </body>
</html>
