<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <div class="navbar">
            <div class="container flex">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/registration">Sign Up</a></li>
                        <li><a href="/login">Sign In</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- MAIN -->
        <section class="main">
            <div class="container">
                <h1>Error occurred</h1>

                {{ .Error }}
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer bg-dark py-5">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
            </div>
        </footer>
    </body>
</html>