<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BugTracker</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <div class="flex">
                    <ul>
                        <li><a href="/registration">Sign Up</a></li>
                        <li><a href="/login">Sign In</a></li>
                    </ul>
            </div>
        </section>>
            
        <!-- MAIN -->
        <section class="main">
            <div class="container grid"></div>
                <div class="showcase-text">
                    <h1>Easier Tracking</h1>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ipsum velit atque tempora 
                        placeat voluptas! Numquam sed aperiam 
                        similique illo, quaerat optio dolores 
                        ratione possimus labore fugit dolor 
                        sunt ea! Repudiandae?</p>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>