<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <div class="container flex">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/registration">Sign Up</a></li>
                    </ul>
            </div>
        </section>

        <!-- MAIN -->
        <section class="main">
            <br>
            {{ if . }}
                <div class="error"> {{ . }}</div>
            {{ end }}
            <br>
            <div class="form">
                <form method="post">
                    <input type="text" name="username" id="user" placeholder="Email">
                    <input type="text" name="password" id="passwd" placeholder="Password">
                    <button type="submit">Login</button>
                </form>
            </div>
        </section>

        <!-- FOOTER -->
        <section class="footer">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </section>
    </body>
</html>