<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <div class="container flex">
                    <ul>
                        <li><a href="/bugtype/create">Create Bugtypes</a></li>
                        <li><a href="/ticket/create">Create Tickets</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
            </div>
        </section>
            
        <!-- MAIN -->
        <section class="main">
            <div class="container">
                <h1>Hello {{ .User.GetUserName }}</h1>
            </div>
            {{ if .DisplayTickets }}
            <br>
            <div class="tickets">
                <h1>Your Tickets:</h1>
                <div class="listing">
                    {{ range .Tickets }}
                    <div class="card">
                        <a href="/ticket/details/{{ .GetTicketName }}"><h3>{{ .GetTicketName }}</h3></a>
                        <p>{{ .GetTicketStatus }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </section>

        <!-- FOOTER -->
        <section class="footer">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
            </div>
        </section>
    </body>
</html>