<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <div class="container flex">
                    <ul>
                        <li><a href="/bugtype/create">Create Bugtypes</a></li>
                        <li><a href="/ticket/create">Create Tickets</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
            </div>
        </section>
            
        <!-- MAIN -->
        <section class="main">
            <!-- <div class="greetings">
                <h1>Hello {{ .User.GetUserName }}</h1>
            </div> -->
            {{ if .DisplayTickets }}
            <div class="tickets">
                <h2>Your Tickets:</h2>
                <div class="listing">
                    {{ range .Tickets }}
                    <div>
                        <a class="card-link" href="/ticket/details/{{.GetTicketName}}">
                            <div class="card">
                                <h3>{{ .GetTicketName }}</h3>
                                <p>{{ .GetTicketStatus }}</p>
                                <!-- <span class="link">
                                </span> -->
                            </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </section>

        <!-- FOOTER -->
        <section class="footer">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
            </div>
        </section>
    </body>
</html>