<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket - {{ .Ticket.GetTicketName }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
</head>
<body>
    <!-- NAV -->
    <section class="navbar">
        <div class="flex">
                <ul>
                    <li><a href="/bugtype/create">Create Bugtypes</a></li>
                    <li><a href="/ticket/create">Create Tickets</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </section>
        
    <!-- MAIN -->
    <section class="main">
        <div class="container">
            <h1>{{.Ticket.GetTicketName}}</h1>
            <p>Status: {{ .Ticket.GetTicketStatus }}</p>
            <p>Type: {{ .Ticket.GetTicketBugType }}</p>
            <p>Created By: {{ .User.GetUserName }} {{ .User.GetUserLastname }}</p>
        </div>
        <div class="commentForm">
            <form method="post">
                <textarea name="update" cols="30" rows="8"></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
        {{ if .DisplayComments }}
            <div class="commentsAll">
                <strong><a href="/{{ .GetUser.GetUsername }}">{{ .GetUser.GetUsername }}</a></strong>
                <div>
                    {{ .Ticket.GetComments }}
                </div>
            </div>
        {{ end }}
    </section>

    <!-- FOOTER -->
    <section class="footer">
        <div class="container grid grid-3">
            <div>
                <h1>BugTracker
                </h1>
                <p>Copyright &copy; 2020</p>
            </div>
        </div>
    </section>
</body>
</html>