<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tickets</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/utilities.css"/>
    </head>

    <body>
        <!-- NAV -->
        <div class="navbar">
            <div class="container flex">
                <nav>
                    <ul>
                        <li><a href="/profile/{{.User}}">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- MAIN -->
        <section class="main">
            <br>
            <br>
            <h1>Create Tickets</h1>

            <form method="post">
                <select name="bugtype" id="ticketBugtype">
                    {{ range .List }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <select name="status" id="ticketStatus">
                    <option>New</option>
                    <option>Implemented</option>
                    <option>Testing</option>
                </select>
                <button type="submit">Create New Ticket</button>
            </form>
        </section>

        <!-- FOOTER -->
        <footer class="footer bg-dark py-5">
            <div class="container grid grid-3">
                <div>
                    <h1>BugTracker
                    </h1>
                    <p>Copyright &copy; 2020</p>
                </div>
            </div>
        </footer>
    </body>
</html>